@use 'base/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 48px;
}

.header.opened {
    .nav__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger, .header__link {
        position: absolute;
        top: 48px;
        z-index: 2;
    }

    .burger {
        right: 20px;
    }

    .header__link {
        left: 20px;
    }
}

.logo {
    display: block;
}

.nav {
    &__menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding-top: 160px;
        background-color: $brand-primary-color;
        z-index: 1;
    }

    &__item {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 40px;
    }
}

.nav.opened {
    .burger{
        position: absolute;
    }
}

.burger {
    display: inline-block;
    cursor: pointer;

    &__line {
        width: 24px;
        height: 3px;
        background-color: $text-primiry-color;
        margin: 5px 0;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:nth-child(2) {
            width: 17px;
            margin-left: 7px;
        }
    }

    &.opened &__line:nth-child(odd) {
        position: relative;
    }

    &.opened &__line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    &.opened &__line:nth-child(even) {
        opacity: 0;
    }

    &.opened &__line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media screen and (min-width: $tablet-width) {
    .header {
        padding-top: 32px;
    }
}

@media screen and (min-width: $desktop-width) {
    .burger {
        display: none;
    }

    .nav {
        &__menu {
            display: block;
            background-color: transparent;
            position: static;
            display: flex;
            gap: 48px;
            padding: 0;
            height: auto;
        }

        &__item {
            font-size: 16px;
            line-height: 16px;
            padding: 0;
            font-weight: 400;
        }
    }

    .logo {
        width: 164px;

        &__image {
            width: 100%;
        }
    }
}
