$text-primary-color: #E8E8E8;
$text-secondary-color: #D9D9D9;
$text-muted-color: #AEAEAE;
$brand-primary-color: #0F0E0F;
$brand-secondary-color: #FFD722;
$border-primary-color: #363636;

$tablet-width: 600px;
$desktop-width: 992px;